:root {
  --heading-font-family: 'invention-latin', arial, sans-serif;
  --body-font-family: 'invention-latin', arial, sans-serif;
  --background-color: rgb(255 255 255);
  --text-color: rgb(0 0 0);
  --link-color: rgb(0 133 124);
  --link-hover-color: rgb(0 92 85);
  --brand-teal: rgb(0 133 124);
  --brand-teal-dark: rgb(0 92 85);
  --section-padding: 40px;
  --nav-height: 85px;
  --heading-size-xxl: 32px;
  --heading-size-xl: 32px;
  --heading-size-l: 30px;
  --heading-size-m: 24px;
  --heading-size-s: 20px;
  --heading-size-xs: 18px;
}
